/**
TYPOGRAPHY 
**/

.text{	
	font-weight:normal;
	font-style:normal;

	&--capitalize{text-transform: capitalize;}
	&--uppercase{text-transform: uppercase;}
	&--lowercase{text-transform: lowercase;}
	&--left{text-align: left;}
	&--center{text-align: center;}
	&--right{text-align: right;}
	&--underline{text-decoration: underline;}
}

