$host_url: '/';
$namespace: "APP";
$rem-base: 16 !default;
$total-columns: 24;
$gutter-width: 16px;

//==========================================================================
//COLORS
//==========================================================================
$white: #FFFFFF;
$black: #000000;
$gray: #CCCCCC;

//==========================================================================
//MEDIA QUERIES
//==========================================================================
$small-range: (0em, 48em) !default; // 0-768px
$medium-range: (48.063em, 64em) !default; // 769-1024px
$large-range: (64.063em, 90em) !default; // 1025-1440px
$xlarge-range: (90.063em, 99999999em) !default; // 1440-INFINITEpx